.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-size: 17 px;
  font-family: arial;
  background: f4f4f4;
  line-height: 1.5em;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px #000 solid;
  margin-bottom: 10px;
}

#container {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.myClass {
  color: blue;
  background: black;
}
